:root {
  --body-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --discription-color: #757575;
  --font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-container, .header-connect, .hero-btn, .about-icon, .footer-social-link, .modal-btn, .check-text, .contact-icon-item, .modal-close {
  display: flex;
  align-items: center;
}

.header {
  background: var(--primary-white-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
}

.header-container {
  flex-wrap: wrap;
}

.header-connect {
  margin-left: auto;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--discription-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover, .header-tel:focus {
  color: var(--accent-color);
}

.hero {
  background: #2f303a;
  padding: 200px 0px;
}

.hero-background {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-btn {
  background: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  padding: 10px 32px;
  margin: 0 auto;
  border-width: 0;
  border-radius: 4px;
  transition: background-color 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #188ce8;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.about-icon {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 30px;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-text-color);
  margin-bottom: 10px;
}

.about-item {
  max-width: 270px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--discription-color);
}

.occupation-item {
  width: 370px;
  position: relative;
}

.occupation-item:not(:last-child) {
  margin-right: 30px;
}

.occupation-text {
  position: absolute;
  padding: 27px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.occupation {
  padding-bottom: 94px;
}

.client-social-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: border-color 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-social-link:hover, .client-social-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-social-icon {
  fill: currentColor;
}

.client-social-item + .client-social-item {
  margin-left: 30px;
}

.team {
  background: #f5f4fa;
}

.team-member-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  margin-bottom: 10px;
}

.team-description {
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--discription-color);
  margin-bottom: 16px;
}

.team-item {
  background: var(--primary-white-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-social-list,
.client-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  background: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*
  .team-social-icon:hover,
  .team-social-icon:focus {
    fill: var(--primary-white-color);
  }*/
.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/*.team-social-link:hover .team-social-icon,
  .team-social-link:focus .team-social-icon {
    fill: var(--primary-white-color);
  
  }*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover, .footer-address:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover, .footer-tel:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-margin {
  margin-top: 20px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  border-radius: 50%;
  color: var(--primary-white-color);
  transition: background-color 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-list {
  align-items: baseline;
  justify-content: space-between;
}

.footer-social-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.portofolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--body-text-color);
  margin-bottom: 4px;
}

.portofolio-pad {
  padding: 20px 24px;
}

.portofolio-item {
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  transition: box-shadow 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.portofolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portofolio-item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.portofolio-item:hover, .portofolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portofolio-item:hover .portofolio-img-text {
  transform: translateY(0);
}

.portofolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portofolio-img-text {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--discription-color);
}

.portofolio-btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-width: 0;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  cursor: pointer;
  padding: 6px 22px;
  margin-left: 8px;
  transition: box-shadow 250ms linear, background-color 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio-btn:hover, .portofolio-btn:focus {
  cursor: pointer;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.ul-btn {
  justify-content: center;
  padding-bottom: 50px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-btn {
  background: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  padding: 10px 56px;
  margin: 0 auto;
  border-width: 0;
  border-radius: 4px;
  transition: box-shadow 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding: 11px 40px;
  outline: none;
}

.form-input:focus + .icon-email {
  fill: var(--accent-color);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.input-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: var(--discription-color);
}

.form-field {
  margin-bottom: 10px;
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}

.form-text:focus {
  border-color: var(--accent-color);
}

.form-text::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--discription-color);
  justify-content: center;
  position: relative;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--body-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.cbtext {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-left: 4px;
}

.cb-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-wrap {
  position: relative;
}

.icon-email {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.policy-check:checked + .check-text::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-send {
  margin-left: 8px;
}

.follow-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
}

.follow-input:focus {
  border-color: var(--accent-color);
}

.first-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  margin-right: 93px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.contact-tel-icon {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 16px;
  align-items: center;
}

.contact-email-icon {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  align-items: center;
}

.contact-icon-item {
  justify-content: center;
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -33px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  margin-bottom: 50px;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  color: #000000;
  padding: 0;
  transition: background-color 250ms linear, color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.modal-close:hover, .modal-close:focus {
  color: var(--accent-color);
}

.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */